.container{
    display: flex;
}

body {
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    margin: auto;
    display: block;
}

.horspreader {
    display:flex;
    justify-content: space-evenly;
    font-weight: bold;
}

a{
    color: maroon;
}

h1{
    color: maroon;
    text-align: center;
}

p{
    text-align: center;
}

li{
    font-weight: bold;
}


#songs{
    background-color: beige;
    border-style: solid;
    border-color: maroon;
    border-top-width: medium;
    border-left-width: medium;
    border-right-width: thin;
    border-bottom-width: thin;
    width: 50%;
    text-align: center;
}

span{
    color:maroon;
     font-style: italic;
}

span:hover{
    font-size: 120%;
}

#rh{
    width:50%;
    border-style: solid;
    border-color: maroon;
    border-top-width: medium;
    border-left-width: thin;
    border-right-width: medium;
    border-bottom-width: thin;
}

#blurb {
    border-style: solid;
    border-color: maroon;
    border-top-width: medium;
    border-left-width: medium;
    border-right-width: medium;
    border-bottom-width: thin;
}